= simple_form_for(@data_source, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_messages
  .form-inputs
    = f.association :data_template, :input_html => {:data => {'template-url' => data_templates_path}}
    = f.association :plugin
    = f.input :node_id, :as => :select, :collection => Node.all
    = f.association :pollers
    = f.input :interval
    = f.input :warning_threshold
    = f.input :critical_threshold
    = f.input :operator, :as => :select, :collection => ['>','<']
    = f.input :arguments, :as => :text

  .form-actions
    = f.button :submit, :id => 'create_data_source'
