%h2 Data Sources
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Node
      %th Template
      %th Pollers
      %th
    - data_sources.each do |ds|
      %tr
        %td= ds.node
        %td= ds.data_template
        %td= ds.pollers.count
        %td
          = link_to 'Show', ds, :class => 'btn btn-mini'
          = link_to 'Edit', edit_data_source_path(ds), :class => 'btn btn-mini'
          = link_to 'Destroy', ds, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'

