= simple_form_for(@device) do |f|
  = f.error_notification

  .form-inputs
    = f.input :hostname
    = f.input :ip_forwarding
    = f.input :os
    = f.input :os_version
    = f.input :os_type
    = f.input :os_vendor
    = f.input :community
    = f.input :auth_protocol
    = f.input :auth_password
    = f.input :priv_protocol
    = f.input :priv_password
    = f.input :memory
    = f.input :num_cpus
    = f.input :snmp_version

  .form-actions
    = f.button :submit, :id => 'create_device'
