= simple_form_for(@device, :html => {:class => 'form-horizontal'}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :hostname
    = f.input :ip_forwarding
    = f.input :os
    = f.input :os_version
    = f.input :os_type
    = f.input :os_vendor
    = f.input :community
    = f.input :auth_protocol
    = f.input :auth_password
    = f.input :priv_protocol
    = f.input :priv_password
    = f.input :sys_name
    = f.input :sys_description
    = f.input :sys_contact
    = f.input :sys_location
    = f.input :memory
    = f.input :num_cpus
    = f.input :snmp_version

  .form-actions
    = f.button :submit
