= simple_form_for(@device) do |f|
  = f.error_notification

  .form-inputs
    = f.input :hostname
    = f.input :community
    = f.input :auth_protocol
    = f.input :auth_password
    = f.input :priv_protocol
    = f.input :priv_password
    = f.input :snmp_version

  .form-actions
    = f.button :submit, :id => 'create_device'
