%h2= "Device #{@device}"
%div.large-4.column
  = render :partial => 'nodes/show', :locals => {:node => @device}
%div.large-8.column
  %table
    %thead
      %tr
        %th{colspan: 2} Host Information
    %tbody
      %tr
        %th Hostname
        %td= @device.hostname
      %tr
        %th SNMP Version
        %td= @device.snmp_version
  
= render 'interfaces/list', :interfaces => @device.interfaces, :device_id => @device.id
  
%br  
