%h1 Listing Events

= search_form_for @q, :class => 'filter-bar' do |f|
  = f.select :severity_eq, options_for_select(Event.severities, @q.severity_eq), :include_blank => 'All Severities' 
  = f.select :state_eq, options_for_select(Event.states, @q.state_eq), :include_blank => 'All Statuses'
  = f.select :type_eq, options_for_select(Event.types, @q.type_eq), :include_blank => 'All Types'

= render 'list'

%br
= link_to 'New Event', new_event_path, :class => "button radius"
