- device_id ||= nil
%h2 Interfaces
%table#interfaces{:data => {:source => datatable_interfaces_path(:q => {:device_id_eq => device_id })}}
  %thead
    %tr
      %th Device
      %th IP Address 
      %th State
      %th Actions
  %tbody
    - interfaces.includes(:device).each do |i|
      %tr
        %td= link_to i.device.hostname, i.device
        %td= i.ip_address
        %td
          = link_to 'Show', i, :class => 'btn btn-mini'
          = link_to 'Edit', edit_interface_path(i), :class => 'btn btn-mini'
          = link_to 'Destroy', i, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'

