%h2= "Interface #{@interface}"
%div.large-4.column
  = render :partial => 'nodes/show', :locals => {:node => @interface}
%div.large-8.column
  %table
    %thead
      %tr
        %th{colspan: 2} Interface Information
    %tbody
      %tr
        %th Device 
        %td= link_to @interface.device.hostname, @interface.device
      %tr
        %th IP Address
        %td= @interface.ip_address
      %tr
        %th MTU
        %td= @interface.mtu
      %tr
        %th Duplex
        %td= @interface.duplex
      %tr
        %th Speed
        %td= @interface.speed
      %tr
        %th Type
        %td= @interface.if_type
      %tr
        %th Physical Address
        %td= @interface.physical_address
  = render :partial => 'nodes/snmp_attributes', :locals => {:snmp_attributes => @interface.snmp_attributes}


